<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAEHy55P-7XJHHYbqoEjA3dFle_Sab0lmY</string>
	<key>GCM_SENDER_ID</key>
	<string>207958662852</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.neilgibson.SmartWaste</string>
	<key>PROJECT_ID</key>
	<string>smartwasteai</string>
	<key>STORAGE_BUCKET</key>
	<string>smartwasteai.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:207958662852:ios:8714b78f3f4795910e3391</string>
</dict>
</plist>